<%- include partials/header %>
<%- include partials/nav %>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title "><%= user.name %></p>
      </div>
    </div>
    <div class="content">
      email: <%= user.email %><br>
      Date Joined: <%= user.member_since %>
    </div>
  </div>
</div>

  <div class="column is-6 is-offset-4">
    <h1>Reviews</h1>
    <% if(user.reviews[0].id) { %>
      <% user.reviews.forEach(function(review) { %>
        <%- include partials/review-card %>
      <% }) %>
    <% } %>
  </div>


<%- include partials/footer %>
