<%- include partials/header %>
<%- include partials/nav %>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <h1><%= album.title %></h1>
      </h1>
      <h2 class="subtitle">
        <em>by <%= album.artist %></em>
      </h2>
    </div>
  </div>
</section>

<form class="field column is-4 is-offset-4">
  <div class="control">
    <textarea class="textarea" placeholder="Let us know your thoughts!"></textarea>
  </div>
  <div class="control column is-offset-9">
  <button class="button is-primary">Submit</button>
</div>
</form>

<%- include partials/footer %>
