<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <a href="/albums/<%= review.album_id %>">
          <em> <%= review.title %> </em>
        </a>
        <%= review.created_on %>
        <br />
        <%= review.content %> <br />
        by <a href='/users/<%=review.user_id %>'/><%= review.name %></a> <br />
      </div>
    </div>
    <div class="media-right control">
    <% if(locals.session) {%>
      <% if(locals.session.user === review.user_id) { %>
        <button class="button is-small is-right owned-card" data-albumid="<%= review.album_id %>" data-reviewid="<%= review.id %>" type="submit">
          <i class="fa fa-trash"></i>
        </button>
      <% }} %>
    </div>
  </article>
</div>
